#web-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

#input-button{
    display: flex;
    font-size: 15px;
    padding: 20px;
    margin-bottom: 20px;
}